.icons-group {
    position: relative;
    padding-top: 84px;
}
.icons-group:before {
    content: '';
    position: absolute;
    left: 0;
    top: 41px;
    height: 1px;
    background: #F2F2F2;
    width: 100%;
}
.icons-group__title {
    font-size: 20px;
    font-weight: normal;
    color: #BCBBBF;
    text-transform: lowercase;
    margin: 0px 0 12px 0;
}
