.icon-card {
    display: inline-block;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    vertical-align: top;
    width: 150px;
    height: 166px;
}

.icon-card:hover {
    padding-bottom: 36px;
    margin-bottom: -36px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.04), 0 3px 6px 0 rgba(6,0,0,0.08);
    z-index: 3000;
    cursor: pointer;
}


.icon-card__icon {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    margin-top: 36px;
}

.icon-card__title {
    display: block;
    color: #BCBBBF; 
    width: 100%;
    margin-top: 16px;
    padding: 0 10px;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 18px;
}

.icon-card:hover .icon-card__title {
    color: #727273;
}

.icon-card__download,
.icon-card__download:link,
.icon-card__download:visited,
.icon-card__download:active {
    color: #000;
    text-decoration: none;
}

.icon-card__download {
    font-size: 12px;
    letter-spacing: 2.2px;
    font-weight: 500;
    color: #1A1A1A;
    text-decoration: none;
    display: none;
    bottom: 0;
    position: absolute;
    text-transform: uppercase;
    height: 36px;
    width: 100%;
}



.icon-card:hover .icon-card__download {
    display: block;
}
