.footer {
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
  display: flex;
  font-size: 16px;
  line-height: 26px;
}

.footer:before {
  content: '';
  position: absolute;
  left: 0;
  top: 41px;
  height: 1px;
  background: #F2F2F2;
  width: 100%;
}

.footer__copy,
.footer__links {
  margin: 84px 0 12px 0;
  padding: 0;
}

.footer__copy {
  font-weight: normal;
  color: #999;
  text-transform: lowercase;
  width: 100%;
}

.footer__links {
  width: 350px;
  list-style: none;
}
.footer__links li {
  float: left;
  width: 50%;
}

.footer__links a,
.footer__links a:hover,
.footer__links a:link,
.footer__links a:active,
.footer__links a:visited
{
  color: #000;
  text-decoration: none;
  font-size: 16px;
  text-transform: lowercase;

}
