.icons-filter {
    display: flex;
}

.icons-filter__search {
    font-size: 40px;
    color: #1A1A1A;
    border: none;
    outline: none;
    caret-color: #FFB2C6;
    width: 100%;
}

.icons-filter__search::placeholder {
    color: #E6E6E6;
}

.icons-filter__style {
    display: flex;
    list-style: none;
    color: #D9D9D9;
    font-size: 13px;
    text-transform: uppercase;
}

.icons-filter__style li {
    padding: 0 15px;
}

.icons-filter__style li a {
    text-decoration: none;
}

.icons-filter__control a,
.icons-filter__control a:active,
.icons-filter__control a:visited,
.icons-filter__control a:link
{
    color: #999;
}


.icons-filter__control_active a,
.icons-filter__control_active a:active,
.icons-filter__control_active a:visited,
.icons-filter__control_active a:link
{
    color: #1A1A1A;
}
